{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}



    <h1> {{ message }} </h1>
    <a  href="{{ path('message') }}">Messages</a>
{% endblock %}
